.Section{
  background: url('../assets/hero.png');
  object-fit: cover;
  height:80vh;
  width:100vw;
}

.SectionHorizontal{
  width:100%;
display:flex;
align-items:center;
justify-content:center;
gap:3rem;
};
.whiteSection{
  width:100%;
  background:rgb(121, 39, 39);
  height:20rem;
}
